<!DOCTYPE html>
<html lang="en">
<head>
  <title>cloudmask</title>
</head>

{% load staticfiles %}
<body>
<img src="{% static './static/img/cloudprob.png' %}" width="720" height="1000" alt="cloudmask">
</body>
</html>